.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
    /* background: black */
}

.height-fix {
    height: 100vh;
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
body {
    font-size: 8pt;
    text-align: center;
    position: relative;
    font-family: "Domine", serif;
}
}
.canvasText {
    color: #E3EAEF;
    
}

body{
    position: relative;
    font-family: "Domine", serif;
    /* background: #171e26; */
}

.titleText {
    font-size: xx-large;
}

.nameText {
    font-size: 75px;
}

.fullStackText {
    font-size: 25px;
}


.container {
    width: 100%;
    /* background: #171e26; */
}

.btn-primary {
    background-color: #3f586b;
}


.button {
    color: rgb(89,98,105);
    transition-duration: 0.4s;
}

.button:hover {
    color: white !important;
}

@media only screen and (max-width: 600px) {
.col-6{
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media only screen and (max-width: 880px) {
.col-4{
    flex: 100% 100% 100%;
    max-width: 100%;

}
}

@media only screen and (max-width: 575px) {
div.cardStyle {
        width: 5.5rem;
    }
}
@media only screen and (min-width: 575px) {
div.cardStyle {
        width: 9rem;
        height: 7rem;
    }
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    border-radius: .25rem;
}

p.card-text{
    justify-content: center;
}

/* .cardStyle {
    width: 10rem;
} */
/* about */
div.gallery {
    /* border: 1px solid #ccc; */
}
div.gallery:hover {
    /* border: 1px solid #777; */
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* nav */
