.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
    background: black
}

.height-fix {
    height: 100vh;
    padding: 0 10px;
}

body{
    font-family: "Domine", serif;
    background: #171e26;
}

.titleText {
    font-size: xx-large;
}

.nameText {
    font-size: 75px;
}

.fullStackText {
    font-size: 25px;
}

.container {
    background: #171e26;
}

.button {
    color: rgb(89,98,105);
    transition-duration: 0.4s;
}

.button:hover {
    color: white !important;
}